<a href="https://colab.research.google.com/github/Unlucky-ZUT/hknu/blob/main/hknu_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (연습) 프로그래밍 맛보기

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.
* 실습 파일을 제출할 때 구글 드라이브의 링크를 이용하여 누구나 공유할 수 있도록 설정한다.

**문제 1**

아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정하라.
오류가 발생하지 않으면 실행 결과를 설명한다.

(1)

In [ ]:
print("Hello World)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-6-69ef97eb7c7b>, line 1)

*  오류 종류: SyntaxError
*  오류 원인: 큰 따옴표로 시작한 Hello world 문자열을 큰 따옴표로 닫지 않았기 때문.

In [ ]:
print("Hello World")

Hello World

(2)

In [ ]:
print(21 8)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-7-cdfda1e99280>, line 1)

*  오류 종류: SyntaxError
*  오류 원인: 21과 8 사이의 공백 때문. 하나의 숫자를 출력하려면 21과 8사이에
수학기호(+,-,*,/,//,% 등)을 넣어 계산을 하거나 21과 8사이의 공백을 지워 출력 해야하고,
21과 8 두개의 숫자를 출력하려면 21과 8사이에 쉼표를 넣어 출력해야 한다.

In [ ]:
print(21+8)
print(21-8)
print(21*8)
print(21/8)
print(21//8)
print(21%8)
print(218)
print(21,8)

29
13
168
2.625
2
5
218
21 8

(3)

In [ ]:
print(2++2)

4

* 오류 종류: 없음.
* 오류 원인: 2 + (+2)로 계산이 되기 때문에 오류가 발생하지 않음.

**문제 2**

변수 할당 명령문과 관련하여 주의해야할 점들을 다룬다. 아래 명령문들을 실행해서 오류가 발생하는 경우 오류의 종류와 원인을 설명하고 수정한다.

(1)

In [ ]:
x = 2;

* 오류 종류: 없음.
* 오류 원인: x=2;에서 세미콜론 ;은 코드를 구분하는 역할이기 때문에 ; 다음에 공백이 와도 오류가 발생하지 않음.

(2)

In [ ]:
z = x y

SyntaxError: invalid syntax (<ipython-input-10-c185002cb352>, line 1)

* 오류 종류: SyntaxError
* 오류 원인: y가 무엇인지 정의되지 않았고,
한개의 변수엔 쉼표,를 쓰지 않으면 한개의 값만 저장이 되기 때문.
y의 값을 정의하고 쉼표를 사용해 z라는 변수에 x와 y를 저장해야함.

In [ ]:
y=33
z=x,y
z

(2, 33)

(3)

In [ ]:
even = 3
odd = 17
print(even + oddd)

NameError: name 'oddd' is not defined

* 오류 종류: NameError
* 오류 원인: odd에 d를 하나 더 붙여 오타가 발생해 정의되지 않은 변수인 oddd를 사용했음.

In [ ]:
even=3
odd=17
print(even+odd)

20

(4)

In [ ]:
x = 3
zero = 0

print(x/zero)

ZeroDivisionError: division by zero

* 오류 종류: ZeroDivisionError
* 오류 원인: 분모에 0이 사용되어 계산 값이 무한이기 때문.

In [ ]:
x=3
one=1
print(x/one)

3.0

**문제 3**

언급된 값을 표현하는 수식을 표현한 다음에 실행하라.

(1) 정수 13에서 정수 19 빼기

힌트: 뺄셈 연산자를 활용한다.

In [ ]:
print(13-19)

-6

(2) 정수 81을 정수 3으로 나누기

힌트: 나눗셈 연산자를 활용한다.

In [ ]:
print(81/3)

27.0

(3) 정수 100을 정수 7로 나눈 나머지

힌트: 나머지 연산자를 활용한다.

In [ ]:
print(100%7)

2

(4) 정수 7.2의 세제곱

힌트: 거듭제곱 연산자를 활용한다.

In [ ]:
print(7.2**3)

373.24800000000005

**문제 4**

먼저 아래와 같이 두 개의 변수를 선언한다.

In [ ]:
width = 17
height = 12.0

언급된 값을 표현하는 수식을 두 변수를 이용하여 표현한 다음에 실행하여라.

(1) width를 2로 나눗 몫

In [ ]:
print(width//2)

8

(2) width 나누기 2

In [ ]:
print(width/2)

8.5

(3) width 나누기 2.0

In [ ]:
print(width/2.0)

8.5

(4) height 나누기 3

In [ ]:
print(height/3)

4.0

(5) 2 곱하기 5에 1 더하기

In [ ]:
print(2*5+1)

11

(6) 2 곱하기 5에 1.0 더하기

In [ ]:
print(2*5+1.0)

11.0

**문제 5**

오전 6시 52분에 집을 떠나서, 가볍게 (km당 8분 15초 소요) 1km를 뛰고,
이어서 좀 빠르게 (km당 7분 12초 소요) 3km를 뛴 후, 다시 가볍게 1km를 마저 달려 집으로 돌아오면
집에 도착하는 시간을 계산하여 아래처럼 출력하는 코드를 작성하라.

    집에 도착 시간: 7 시 30 분 6 초

힌트: 정수 나눗셈의 몫과 나머지 연산자 활용

In [ ]:
print("집에 도착 시간:",6+(52+(495*2+432*3)//60)//60,"시",(52+(495*2+432*3)//60)%60,"분",(495*2+432*3)%60,"초")

집에 도착 시간: 7 시 30 분 6 초