<a href="https://colab.research.google.com/github/Unlucky-MARO/hknu/blob/main/hknu_7_%EB%AC%B8%EC%9E%90%EC%97%B4_3%EB%B6%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# (연습) 문자열  3부

**주의 사항**

* 기존에 작성된 코드 셀과 텍스트 셀은 수정하지 않는다.
* 필요한 경우 코드 셀 또는 텍스트 셀을 추가해서 사용한다.

**문제 1**

다음과 같이 영어 알파벳으로 구성된 문자열이 주어졌다.

In [ ]:
text = "python data analysis"

(1) 문자열에 포함된 모음의 개수를 확인하는 코드를 작성하려 한다.
단, 모음 알파벳은 아래 문자열에 포함되어 있다.

In [ ]:
vowels='AEIOUaeiou'

예를 들어 다음과 같이 `for` 반복문을 이용할 수 있다.

In [ ]:
count_vowels = 0
for char in text:
    if char in vowels:
        count_vowels += 1

print("모음 개수:", count_vowels)

모음 개수: 6

`continue` 명령문을 사용하여 위 코드를 수정하라.
단 동일한 결과가 나와야 한다.

In [ ]:
count_vowels = 0
for i in text:
  if i not in vowels:
    continue
  count_vowels+=1
print("모음 개수:", count_vowels)

모음 개수: 6

(2) 문자열에 포함된 자음의 개수를 확인하는 코드를 작성하려 한다.

`text` 문자열은 공백을 포함하는데, 공백은 알파벳이 아니다.
따라서 모음과는 달리 자음만 추출하려면 공백도 제외시켜야 한다.
이를 위해 문자열이 영어 26개의 알파벳으로만 구성되었는지 여부를 판정하는 `isalpha()`
문자열 메서드를 이용한다.

In [ ]:
'a'.isalpha()

True

In [ ]:
'ab'.isalpha()

True

In [ ]:
'ab3'.isalpha()

False

아래 코드는 주어진 영어 문장 `text`에 대해 모음이 아닌 알파벳이 사용된 횟수를
`for` 반복문을 이용하여 계산한다.
`isalpha()` 메서드를 이용하여 모음이 아니면서 영어 알파벳인 경우일 때만 `count_consonant` 값이 업데이트됨에 주의한다.

In [ ]:
count_consonant = 0
for char in text:
    if (char not in vowels) and char.isalpha():
        count_consonant += 1

print("자음 개수:", count_consonant)

자음 개수: 12

`continue` 명령문을 사용하도록 위 코드를 수정하라.

In [ ]:
count_consonant=0
for i in text:
  if (i in vowels) or (not i.isalpha()):
    continue
  count_consonant+=1

print("자음 개수", count_consonant)

자음 개수 12

**문제 2**

두 개의 문자열이 다음과 같이 주어졌다.

In [ ]:
string = "PythonForPythonForPythonForPythonForPython"
substring = "ForPythonFor"

이때 `substring`이 `string`에 사용된 횟수는 두 번으로 확인된다.

In [ ]:
string.count(substring)

2

이유는 `count()` 메서드는 지정된 문자열이 겹쳐지지 않는 경우만 확인하기 때문이다.

(1) `substring`이 겹쳐지는 것도 허용하면서 사용된 횟수를 확인하면 3번이다.
이 사실을 확인하는 코드를 `for` 반복문을 이용하여 작성하라.

힌트: 문자열 슬라이싱 활용

In [ ]:
count=0
for i in range(len(string)-len(substring)+1):
  if string[i:i+len(substring)]==substring:
    count+=1
print(count)

3

(2) 위 코드를 아래 조건이 만족되도록 수정하라.

- `count` 변수가 2가 될 때까지만 `for` 반복문이 실행되어야 한다.
- 다음과 같이 출력되어야 함.

        ForPythonFor이 중첩되어 사용됫 횟수: 최소 2회

힌트: `break` 명령문 활용

In [ ]:
count=0
for i in range(len(string)-len(substring)+1):
  if string[i:i+len(substring)]==substring:
    count+=1
    if count==2:
      break
print(count)

2

**문제 3**

`for` 반복문을 이용하여 구구단을 출력하고자 한다.
반복문을 위해 아래 문자열을 이용한다.

In [ ]:
one2nine = '123456789'

(1) 사용자로부터 1부터 9사이의 정수를 입력 받은 후 입력된 정수의 배수에 해당하는 구구단만 화면에 출력하는
코드를 작성하라.
예를 들어, 사용자가 3을 입력하면 3의 배수인 3, 6, 9에 대한 구구단만 아래와 같이 출력해야 한다.
또한 `for` 반복문과 함께 `continue` 명령문을 구구단 출력에 이용해야 하며,
곱셈 결과는 오른쪽으로 정렬되어야 한다.

- 3을 입력하는 경우

```
단수를 입력하세요: 3

3의 배수 구구단 출력

3단

3 * 1 =  3
3 * 2 =  6
3 * 4 = 12
3 * 5 = 15
3 * 7 = 21
3 * 8 = 24

6단

6 * 1 =  6
6 * 2 = 12
6 * 4 = 24
6 * 5 = 30
6 * 7 = 42
6 * 8 = 48

9단

9 * 1 =  9
9 * 2 = 18
9 * 4 = 36
9 * 5 = 45
9 * 7 = 63
9 * 8 = 72
```

- 4를 입력하는 경우

```
단수를 입력하세요: 4

4의 배수 구구단 출력

4단

4 * 1 =  4
4 * 2 =  8
4 * 3 = 12
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 9 = 36

8단

8 * 1 =  8
8 * 2 = 16
8 * 3 = 24
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 9 = 72
```

힌트: `for` 반복문을 중첩해서 활용

In [ ]:
x=int(input("단수를 입력하세요:",))
print()
one2nine = '123456789'
for j in range(1,10):
  y=x*j
  if str(y) in one2nine:
    print(y,"의 배수 구구단 출력\n")
    print(y,"단\n")
    for i in range(1,10):
      print(y,'*',i,'=',y*i,)
    print()

단수를 입력하세요:2

2 의 배수 구구단 출력

2 단

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

4 의 배수 구구단 출력

4 단

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36

6 의 배수 구구단 출력

6 단

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54

8 의 배수 구구단 출력

8 단

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72

12 의 배수 구구단 출력

12 단

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108

(2) 사용자로부터 1부터 9사이의 정수를 입력 받은 후 입력된 정수의 배수에 해당하는 구구단만
지정된 형식으로 화면에 출력하는 코드를 작성하라.
예를 들어, 사용자가 3을 입력하면 3의 배수인 3, 6, 9에 대한 구구단만 아래와 같이 출력해야 한다.
또한 `for` 반복문과 함께 `continue`, `break` 명령문을 구구단 출력에 이용해야 하며,
곱셈 결과는 오른쪽으로 정렬되어야 한다.

- 3을 입력하는 경우

```
단수를 입력하세요: 3

3의 배수 구구단 출력

1단

1 * 3 =  3
1 * 6 =  6
1 * 9 =  9

2단

2 * 3 =  6
2 * 6 = 12
2 * 9 = 18
```

- 4를 입력하는 경우

```
단수를 입력하세요: 4

4의 배수 구구단 출력

1단

1 * 4 =  4
1 * 8 =  8

2단

2 * 4 =  8
2 * 8 = 16

3단

3 * 4 = 12
3 * 8 = 24
```

힌트: `for` 반복문을 중첩해서 활용

In [ ]:
x=int(input())
one2nine = '123456789'
for j in range(1,10):
  x*=j
  if x>=10:
    break
  if str(x) in one2nine:
    print(x,"단")
    for i in range(1,10):
      print(int(x),'*',i,'=',x*i)